.contenedorAsociarse {
    max-width: 75rem;
    width: 90%;  /** Separación a los bordes */
    /**width: min(90%,120rem);*/ /** CodReducido*/
    margin: 0 auto;
    text-align: justify;
    
}
.contenedorAsociarse h1 {
    color: #009640;
}
.contenedorAsociarse p {
    margin: 0 9rem;
}
.as-1 p {
    font-weight: 700;
    text-align: justify;
}
.as-2 {
    margin: 2rem 9rem;
}