.contacto1 {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}
.contacto .contenido-texto1 {
    width: 48%;
}
.linea {
    background-color: var(--azulSecundario);
}
.contenedor h1 {
    color: #009640;
}
.div-mapa {
    width: 100%;
    height:550px;
}