.linea {
    background-color: var(--azulSecundario);
}

.mapa {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-contacto {
    width: 50%;
    margin: 0 12% 0 30%;
    padding: 0% 4% 0% 4%;
}

@media (max-width: 600px) {
    .info-contacto {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}