footer {
  background-color: #515151;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 30px;
  background-color: #515151;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.color-menu {
  color: #C4C4C4;
}
/* footer left*/
.img-footer {
  width: 180px;
  height: 180px;
}

/* footer center*/
.footerx .footerx-center {
  text-align: left;
  width: 50%;
  padding-right: 15px;
}

/* footer right*/
.footer-icon {
  margin: 0 10px 0 10px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.row-elemenos-widget {
  
  padding: 0 10% 0 10%;
  display: flex;
  margin:10px;
  
}

.elementos-widget-3 .elementos-widget-3 .elementos-widget-3 {
  margin: 20px 0 20px 0;
}

.elementos-widget-1 {
  padding: 0 4% 0 4%;
  display: inline-block;
  border-right: 2px solid #FFFFFF;
}

.elementos-widget-2{
  text-align: left;
  padding: 0 4% 0 4%;
  display: block;
  border-right: 2px solid #FFFFFF;
}

.footer-info {
  color: #ffffff;
}

.elementos-widget-3 {
  padding: 0 4% 0 4%;
  display: flex;
  min-width: 180px;
  min-height: 200px;
  align-items: center;
}



/* footer derechos*/
.derechos-footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ffffff;
  background-color: #515151;
  padding: 10px;
  margin-top: 15px;
}
.footer-divrsocial {
  display: flex;
  align-items: center;
  
}
.footer-redsocial {
  color: #FFFFFF;
  vertical-align: middle;
  margin: 25% 0 25% 0;
}

.iconos-redesso {
  font-size: 60px;
}


@media (max-width: 1000px) {
.footer-menu {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 30px;
  background-color: #515151;
  padding: 20px;
}

  .elementos-widget-1 {
    padding: 4% 4% 4% 4%;
    display: inline-block;
    border-bottom: 2px solid #FFFFFF;
    border-right: 0;
  }
  
  .elementos-widget-2{
    font-size: 1.3rem;
    text-align: left;
    padding: 4% 4% 4% 4%;
    display: block;
    border-bottom: 2px solid #FFFFFF;
    border-right: 0;
  }

  .elementos-widget-3 {
    padding: 0 4% 0 4%;
    display: flex;
    min-width: 180px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
  }

  .iconos-redesso {
    font-size: 40px;
  }

  .footer-divrsocial {
    display: flex;
    align-items: center;
    
  }

}
