
h1 {
    width: auto;
    color: var(--verde1);
    border-bottom: 3px solid var(--azul1);
}
.contenedorServicios1 {
    max-width: 120rem;
    width: 90%;  /** Separación a los bordes */
    /**width: min(90%,120rem);*/ /** CodReducido*/
    margin: 0 auto;
}

.fachada__imagen {
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    padding-top: 3em;
    justify-content: center;
    margin: 8rem 0;
    border-top: 2px solid var(--azul1);
}
