.contenedor-header {
    padding-left: 100px;
}

.contenido {
    background-image: url("../../img/fondo1.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin-top: 100px;
}


