.contenedorServicios {
    max-width: 120rem;
    width: 90%;  /** Separación a los bordes */
    /**width: min(90%,120rem);*/ /** CodReducido*/
    margin: 0 auto;
}

.imagen-textos{
    display: flex;
    justify-content: center;
}