:root {
    --primario: #E5E5E5;
    --secundario: #009FE3;
    --azulSecundario: #39B5E9;
    --verde: #009640;
    --letraParrafos: #656563;

    --fuentePrincipal: 'Fira Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
} 


/*Globales */

body {
    background-color: var(--primario);
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem; /* 16 px*/
    font-family: Arial, Helvetica, sans-serif;
    color: var(--letraParrafos);
    font-family: var(--fuentePrincipal);
}
a {
    text-decoration:  none;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    width: 90;
    margin: 0 auto;
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
h1,h2,h3 {
    text-align: center;
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 6.4rem;
    color: var(--verde);
}
h2{
    font-size: 4.8rem;
    color: var(--secundario);
}
h3 {
    font-size: 2.4rem;
    color: var(--letraParrafos);

}
h4 {
    font-size: 2.0rem;
    color: var(--letraParrafos);
}
/** Utilidades */ 
.no-margin {
    margin: 0;
}

.no-pading {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}
.wsm-100{
    width: 100%;
}
@media (min-width: 768px) {
    .wsm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}
/** Header */

.header {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor-header{
    background-color: white;
    padding: 0 0 20px 20px;
    
}

.barra {
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: right;
    }
}
.header__logo {
    margin: 3rem 0 0 3rem;
    
}

/** Navegacion **/
.navegacion {
    border: 2px solid #009FE3;
    border-radius: 8px;
    height: 100px;
    background-color: var(--secundario);
    padding: 2rem ;
    display: flex;
    justify-content: right;
    gap: 2rem; /** Separacion forma nueva */
}
.navegacion__enlace {
    background-color: #009640;
    border: 2px solid #009FE3;
    border-radius: 25px;
    text-decoration:  none;
    color: var(--primario);
    font-size: 2.5rem;
    padding: 10px !important;
    margin-right: 1.5rem;
    vertical-align: center;
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace:first:last-of-type{
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    text-decoration:  none;
    color: var(--letraParrafos);
}
/** Contacto */ 
.formulario {
    background-color: var(--primario);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    color: var(--letraParrafos);
    font-size: 3.2rem;
    text-transform: uppercase; 
    font-weight: 700;
    margin-bottom: 2rem;

}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto 20rem ;
        column-gap: 3rem;
    }

    .campo:nth-child(9),
    .campo:nth-child(10),
    .campo:nth-child(11) {
        grid-column: 1/3;
        
    }
}
.contenedor-campos {
    display: grid;
}
.campo{
    margin-bottom:1rem ;
    
}

.campo__label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 15rem;
}
.campo__field{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.enviar .boton {
    width: 100%;
}
